body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.blinking-cursor {
  font-weight: 400;
  font-size: 1.2rem;
  color: #263238;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
